body{
  font-family: 'Roboto Slab', serif;

}
h2{
  font-size:3.5rem;
font-family: 'Courgette', cursive;
font-weight: bold;
}

#Home{
overflow: visible;
height:800px;
background-color: #000;
background-image: url("coffee.jpg");
color:#fff;

}
.navbar{
  background-color: #1a0900;
}
.nav_container{
  position: absolute;
  z-index: 9999;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;

}
.navspace{

padding:10px;

}
.nav-item:hover{
  background-color: #cc9966;
}

.dropdown .dropdown-item:hover{
  background-color: #cc9966;
}
.dropdown-menu{
  color:#fff;
  font-size: 16px;
  background-color: #000;
}
.dropdown:hover .dropdown-menu{
  display:block;
  transition: all 0.5s ease-in-out;
}
.dropdown .dropdown-menu a:hover{
  background-color: #cc9966;
  }
.logo{
  width:50px;
  height:50px;
}
.container{

text-align: center;
padding-top: 10%;
}
  .cname{
font-family:  'Courgette', cursive;
font-weight: bold;
    font-size: 4rem;
  }
.para1{
    font-family:'Satisfy', cursive;
    font-size: 2rem;
  }
.pic{
  border-radius: 40%;
  width:20%;
}
#About{
  padding:2% 4%;
}
.x1{
  padding-top: 3%
}
.about_us{
  margin:0;
padding:5% 8%;
margin-bottom: 10px;
text-align: center;
box-shadow: 0 1px 6px black;
background-color: #cc9966;


}
.para2{
  line-height: 2;
}
.pic1{

width: 100%;
  max-height: 98%;
}
.x2{
  padding-top: 3%;
}
.lead{

text-align: center;
background-color: #cc9966;
  padding:5% 8%;
box-shadow: 0 1px 6px black;

}
.cup{
  width:20%;
  height:40%;
}
.pic2{
  width: 100%;
    max-height: 100%;
    padding-top: 0.5%;
}
.para3{
  text-align: center;
  font-size: 1rem;
  line-height: 2;


}
#menu{

  padding:5% 2%;

}
.menu1{
  text-align: center;


  padding-bottom: 2%;
}
.coloured{
  background-color:#cc9966;

}
.menubtn{
  background-color:	 #4d2600;
margin-left: 30%;
}
.card-img-top{
  width:351px;
  height:330px;
}
  .card{
    display: grid;
  width: 22rem;
  }
  
  @media(max-width: 1080px){
  .card12{
    padding-left: 75px;
    }
  }
  #offer{
    padding:7% 15%;
    background-color:#cc9966;
  }
.offerbox{
  text-align: center;
  padding:5%;

}
.icons{
  font-size: 3rem;
  color:  #4d2600;
}
.icons:hover{
  color:#000;
}


.obtn{

  background-color:  #4d2600;
  color:#fff;
}
#gallery{
  padding:5% 12%;
}
.photos{
  width:100%;
  height:60%;
}
.galleryhead{
padding-bottom: 5%;
  text-align: center;


}
#location{
  padding:5% 5%;
  background-color: #cc9966;
}
#map{
  height:500px;
  width:100%;
}
.namee{
  font-size: 2rem;
    font-family:'Satisfy', cursive;
    font-weight: bold;
}
.location1{
  padding: 2% 12%;
  text-align: center;
}

.contain{
  font-size: 1.5rem;
}
.mark{
  font-size: 2.5rem;
  background-color:  #cc9966
}
#Contact{
  text-align:center;
  padding: 5% 2%;
}
.footericon{
  padding-top: 15px;
  font-size: 2rem;
}
